<%= form_for(@theme) do |f| %>
  <% if @theme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@theme.errors.count, "error") %> prohibited this theme from being saved:</h2>

      <ul>
      <% @theme.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="dropzone dropped">

  </div>

  <a>Install</a>

  <div class="field">
    <%= f.text_field :theme_name, :placeholder => "Please add a title to your theme"%>
  </div>
  <div class="field">
    <%= f.text_area :theme_desc, :placeholder => "Please add a description to your theme"%>
  </div>
  <div class="field">
       <%= f.hidden_field :career_site_id%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
