<h1>Editing theme:</h1>
<div id="themeswitcher">
	<div id="side_panel">
		<small>Template Files</small>
	  <ul>
	  		<li class="filetab active">Default Colors</li>
		  <% @templates.each do |template| %>
		  	<li class="filetab" ref-id="<%= template.id%>"><%= template.permalink.split("/").last(2).join("/").gsub('.liquid','') %></li>
		  <% end %>
	  </ul>

	  </div>
	  <div id="main_panel" class="editor">

	  	<div class="colorsview">
	  		<h4>Edit Site Colors</h4>
	  		<p>This feature has not been implemented</p>
	  	</div>

	  	<div class="textview">
	  		<textarea class="editorwindow">aoisndoiasndoi oiasjdo asidj asdipjoaiosd ao</textarea>
	  	</div>

	  	<button class="save">Save Changes</button>
	  	<button class="revert">Revert</button>
	  	<button class="preview">Preview</button>

	  </div>
	</div>
</div>

<script>
  $(document).ready(function(){
    	
    	//Initialize
    	$(".textview").hide();
	

    	$('.filetab').bind('click', function() {

    		if($(this).attr('ref-id')) {	//Hide '.colorsview'.  If changes have been made, ask for confirmation first.  If yes, continue without saving -> remove related textbox, load new.  Else, break.
    			var idClicked = $(this).attr('ref-id');
    			

    			if (confirm('Are you sure you want to save this thing into the database?')) {
					    // AJAX CALL TO REPLACE VISIBLE CODE WINDOW
	    			$.ajax({
			        type: ('GET'),
			        url:  ('get_content/'+idClicked),
			        success: function(data){
			        	$(".colorsview").hide();
			    			$(".filetab").removeClass("active");
			    			$(".filetab[ref-id="+idClicked+"]").addClass("active")
			        	$(".textview").hide(100).delay(100).show(100);
			        	$(".editorwindow").replaceWith('<textarea class="editorwindow">'+data+'</textarea>');
			        	$(".CodeMirror").remove();
			        	$('.editorwindow').each(function() {
				        	var editor = CodeMirror.fromTextArea(this, {
				        		lineNumbers : true,
				        		mode: 'html',
				        		matchBrackets : true,
				        		autoCloseTags: true,
				        		viewportMargin: Infinity
			        		})
								});
			        },
			        error: function(error) {
			        	alert("Theme could not be loaded! Reason: "+error)
			        }
		        });
				} else {
					
				}

    			

    		} else {						//If changes have been made, ask for confirmation first.  If yes, continue without saving -> remove related textbox, show '.colorsview'.  Else, break.
    		
    			$(".textview").hide();
    			$(".colorsview").show();
    			$(".filetab").removeClass("active");
    			$(this).addClass("active")

    		}

    	});

    });


</script>

<!--<%= render 'form' %>-->

<%= link_to 'Show', @theme %> 
<%= link_to 'Back', themes_path %>
